name: Actions Workflow

# Here are the events specified
# Add activity type
on: 
  push: 
  pull_request:
    types: [closed, assigned, opened, reopened]

jobs:
  run-guthub-actions:
    runs-on: ubuntu-latest
    steps: 
      - name: Print environment variables
        run: | 
          echo $GITHUB_SHA
          echo $GITHUB_REPOSITORY
          echo $GITHUB_WORKSPACE
          echo "${{ github.token }}"
        #In order to clone code in working directory, use the checkout action. It's most  common actin
      - name: Checkout
        uses: actions/checkout@v1
      - name: List Files after checkout
        run: |
          pwd
          ls -a
      - name: Simple JS Action
        id: greet
        # It takes reference to the actions
        uses: actions/hello-world-javascript-action@v1
        # provide the input to the actions
        with: 
          who-to-greet: Matej
      # Produce the output 
      - name: Log Greeting Time
        #Greet is the id of the step above
        run: echo "${{ steps.greet.outputs.time }}"