name: Actions Workflow

on: [push]

jobs:
  run-guthub-actions:
    runs-on: ubuntu-latest
    steps: 
      - name: List Files 
        run: |
          pwd
          ls
          
      - name: Simple JS Action
        id: greet
        # It takes reference to the actions
        uses: actions/hello-world-javascript-action@v1
        # provide the input to the actions
        with: 
          who-to-greet: Matej
      # Produce the output 
      - name: Log Greeting Time
        #Greet is the id of the step above
        run: echo "${{ steps.greet.outputs.time }}"