name: ENV Variables
on: push
env: 
  WF_ENV: "${{ secrets.WF_ENV }}"
  GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}" #it's by default available

jobs: 
  log-env:
    runs-on: ubuntu-latest
    env:
      JOB_ENV: Available to all steps in log-env job
    steps:
      # - name: Log ENV Variables
      #   env: 
      #     STEP_ENV: Available only to this step
      #   run: | 
      #     echo "WF_ENV": ${WF_ENV}
      #     echo "JOB_ENV": ${JOB_ENV}
      #     echo "STEP_ENV": ${STEP_ENV}
      # - name: Log ENV2
      #   run: | 
      #     echo "WF_ENV": ${WF_ENV}
      #     echo "JOB_ENV": ${JOB_ENV}
      #     echo "STEP_ENV": ${STEP_ENV}
      - name: push random file
        run: | 
          pwd
          ls -a
          git init 
          git remote add origin "https://$GITHUB_ACTOR:${{secrets.GITHUB_TOKEN}}@github.com/$GITHUB_REPOSITORY.git"
          git config --global user.name "my-bot@bot.com"
          git fetch
          git checkout master
          git branch --set-upstream-to=origin/master
          git pull
          ls -a
          echo $RANDOM >> random.txt
          ls -a
          git add -A
          git commit -m"Random file"
          git push



